


.contentHome{
  background-image: url(http://localhost/splice/assets/img/bgHome3.jpg);



}
.textHome{
  color: white;
  padding: 70px;
  width: 38%;

}

.textHome-1{
  font-size: 75px;
  font-weight: 500;
  line-height: 1.25;
  display: block;

}

.textHome-2{
  font-size: 20px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
}

.btnSignup{
  border-radius: 50px;
  height: 35px;
  width: 85px;


}

.btnHomeSignup-2{
  border-color: #1d53ff;
  border-radius: 50px;
  height: 50px;
  width: 200px;
  background-color: #1d53ff;

  font-family: Arial;
}

.aHome{
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: white;
}
