
html{
   font-family: Splice-Sans,Avenir,Arial,Helvetica,sans-serif;
   font-size: .9375rem;
   font-weight: 500;
}


.btnSignup{
  border-radius: 50px;
  border-color: white;
  height: 35px;
  width: 100px;
}

.nav__item{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 0 0 0 1.33em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    color:#acacac;
}

a.nav__item:hover{
  color: white;
}
.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    padding: .665em 1.33em;
    background-color: #131313;
    z-index: 100;
}
