.page-footer {
  font-family: Splice-Sans,Avenir,Arial,Helvetica,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  background-color: #131313;
}

.container{
  padding-top: 40px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

h5{
  color: white;
}

a{
   text-decoration: none;
   cursor: pointer;
   color: #acacac;
}

.copyRight{
  text-align: center;
  color: #acacac;
  padding-bottom: 20px;
}
